# Configuration file for varnish
#
# /etc/init.d/varnish expects the variable $DAEMON_OPTS to be set from this
# shell script fragment.
#

# Maximum number of open files (for ulimit -n)
NFILES=4096

# Locked shared memory (for ulimit -l)
# Default log size is 82MB + header
MEMLOCK=128

# Maximum number of threads (for ulimit -u)
NPROCS=512

# Set this to 1 to make init script reload try to switch vcl without restart.
RELOAD_VCL=0

DAEMON_OPTS="-a {{ ansible_default_ipv4.address | default ('') }}:80 \
	-b 127.0.0.1:9292 \
	-n reverse \
	-u varnish -g varnish \
	-s malloc,128M"
