# Configuration file for varnish
#
# /etc/init.d/varnish expects the variable $DAEMON_OPTS to be set from this
# shell script fragment.
#

# Maximum number of open files (for ulimit -n)
NFILES=4096

# Locked shared memory (for ulimit -l)
# Default log size is 82MB + header
MEMLOCK=128

# Maximum number of threads (for ulimit -u)
NPROCS=1024

# Set this to 1 to make init script reload try to switch vcl without restart.
# To make this work, you need to set the following variables
# explicit: VARNISH_VCL_CONF, VARNISH_ADMIN_LISTEN_ADDRESS,
# VARNISH_ADMIN_LISTEN_PORT, VARNISH_SECRET_FILE, or in short,
# use Alternative 3, Advanced configuration, below
RELOAD_VCL=0

DAEMON_OPTS="-a :80 \
	-b 127.0.0.1:9292 \
	-n reverse \
	-u varnish -g varnish \
	-s malloc,64M"
